.addflex{
    display: flex !important;
}
section{
    padding: 200px 0;
    display: flex;
    align-items: center;
}
ul{
    padding: 0;
}
li{
    margin: 0;
    height: 100%;
}
.wrap{
    margin: 0 auto;
    /*! padding: 0 100px; */
    box-sizing: border-box;
    width: 1600px;
}
.hide{
    display: none !important;
    font-size: 0;
}
/* 폰트 */
.cat{
    font-size: 32px;
    color: #283c75;
    font-weight: 650;
    margin-bottom: 20px;
}
.ph{
    font-size: 2.6875rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -4px;
}
.p{
    font-size: 1.375rem;
    color: #666;
    font-weight: bold;
}
