footer {

  background-color: #283C75;
}
footer .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  align-items: center;
  color: white;
  padding: 50px 0px;
  row-gap: 20px;
}
footer .wrap h2 {

  font-size: 0;
  background: url(../img/logoW.svg) no-repeat center /contain;
  width: 160px;
  height: 80px;
}
footer a{
  color: white;
}
footer .wrap ul.peasonal {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}
footer .wrap ul.peasonal li {

}
footer .wrap ul.peasonal li a {
  padding: 0 10px;
  position: relative;
}
footer .wrap ul.peasonal li:first-child a::after{
  content: "";
  display: inline-block;
  background-color: white;
  height: 5px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 50%;
}
footer .wrap address {
  grid-column: 2;
  grid-row: 3;

}
footer .wrap p {
  grid-column: 2;
  grid-row: 4;

}
footer .wrap ul.sns {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-self: start;
}
footer .wrap ul.sns h3 {

}
footer .wrap ul.sns h3 a {

}
footer .wrap ul.sns li {

}
footer .wrap ul.sns li a {
  font-size: 0;
  padding: 0 5px;
    width: 40px;
  height: 40px;
}
footer .wrap ul.sns li:nth-of-type(1) a{
  background: url(../img/blo.png) no-repeat center /contain;
  display: block;
}
footer .wrap ul.sns li:nth-of-type(2) a{
  background: url(../img/face.png) no-repeat center /contain;
  display: block;
}
footer .wrap ul.sns li:nth-of-type(3) a{
  background: url(../img/insta.png) no-repeat center /contain;
  display: block;
}
footer .wrap ul.sns li:nth-of-type(4) a{
  background: url(../img/tw.png) no-repeat center /contain;
  display: block;
}
footer .wrap .family{
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  position: relative;
}
footer .wrap .family::after{
  content: "GO";
  display: inline-block;
  width: 50px;
  height: 20x;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: -65px;
  bottom: -4px;
}
footer .wrap .family h3{

}
footer .wrap .family h3 a{
  font-size: 20px;
  padding-right: 100px;
  border-bottom: 1px solid white;
}
footer .wrap .family h3 a::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/down.png) no-repeat center /contain;
  position: absolute;
  right: 0;
  bottom: 0;
}
footer .wrap .family .familylist{
  position: absolute;
  bottom: 30px;
  left: 0;
  display: none;
}
footer .wrap .family .familylist ul{
  width: 208px;
  height: 200px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
footer .wrap .family .familylist ul li{
  
}
footer .wrap .family .familylist ul li a{
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}