header {
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid white;
  transition: 0.5s;
}
header.scroll{
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}
header >.wrap {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  height: 100%;
  background: transparent;
  width: inherit;
  padding-left: calc((100% - 1600px) / 2);
  color: white;
  column-gap: 10px;
  justify-items: center;
}
header .wrap video{
  width: 100%;
  height: 100%;
}
header .wrap h1 {
  grid-column: 1;
  font-size: 0;
  background: url(../img/logoW.svg) no-repeat center /contain;
  width: 250px;
  height: 60px;
  z-index: 1;
  transition: 0.5s;
}
header.hamclick .wrap h1{
  width: 150px;
  background: url(../img/logo.svg) no-repeat center /contain;
}
header.scroll .wrap h1{
  background: url(../img/logo.svg) no-repeat center /contain;
}
header.scroll.hamclick .wrap h1{
  background: url(../img/logo.svg) no-repeat center /contain;
}
header .wrap >ul.lang {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
}
header .wrap ul.lang li:first-child a::after{
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/down.png) no-repeat center /contain;
  margin-left: 10px;
}
header .wrap ul.lang li {

}
header .wrap ul.lang li:nth-child(2){
  display: none;
}
header .wrap ul.lang li a{
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
}
header.scroll .wrap ul li a{
  color: black;
}
header.scroll .wrap ul li:first-child a::after{
  background: url(../img/downB.png) no-repeat center /contain;
}
header .wrap >a {
  display: block;
  display: flex;
  flex-direction: column;
  grid-column: 4;
  width: 40px;
  height: 100%;
  justify-content: center;
  padding: 0 30px;
  border-left: 1px solid white;
  z-index: 1;
  transition: 0.5s;
}
header.scroll .wrap >a{
  border-left: 1px solid #eaeaea;
}
header.hamclick .wrap > a{
  border-left: white;
}
header .wrap a span {
  width: 100%;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid white;
}
header.scroll .wrap a span{
  border-bottom: 1px solid black;
}
header.hamclick .wrap a span{
  border-bottom: 1px solid black;
}
header.hamclick .wrap a span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, -5px);
}
header.hamclick .wrap a span:nth-child(2){
  display: none;
}
header.hamclick .wrap a span:nth-child(3){
  transform: rotate(45deg) translate(-8px, -8px);
}
.menuslide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.menuslide .menuC{
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  margin: 0 !important;
  width: 100% !important;
}
.menuslide .menuC ul.menuwrap{
  display: grid;
  grid-template-columns: repeat(6, 200px);
  justify-items: center;
  /*! display: flex; */
  /*! justify-content: center; */
}
.menuslide .menuC ul li{
  
}
.menuslide .menuC ul li h3{
  
}
.menuslide .menuC ul li h3 a{  
  font-size: 24px;
  line-height: 2;
  height: 100px;
  display: block;
  line-height: 100px;
}
.menuslide .menuC ul li ul.gnb{ 
  flex-direction: column;
}
.menuslide .menuC ul li ul.gnb li{
  
}
.menuslide .menuC ul li ul.gnb li a{
  line-height: 1.8;
  color: #444;
}



/*# sourceMappingURL=header.css.map */