section#service {
  
  display: flex;
  align-items: center;
}
section#service .wrap {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  position: relative;
  align-items: center;
}
section#service .wrap h2 {
  
}
section#service .wrap p {
  
}
section#service .wrap >ul { 
  display: flex;
  grid-column: 2;
  grid-row: 1 / span 2;
  align-items: center;
  justify-self: end;
  gap: 15px;
}
section#service .wrap > ul::after{
  display: inline-block;
  content: "";
  background: url(../img/conright.png) no-repeat center /contain;
  width: 18px;
  height: 18px;
}
section#service .wrap ul li {
  
}
section#service .wrap ul li h3 {
  
}
section#service .wrap ul li h3 a {  
  border-radius: 50%;
  border: 1px solid #283C75;
  display: block;
  font-size: 1.25rem;
  height: 130px;
  width: 130px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#service .wrap ul li ul li a:hover{
  background-color: #283C75;
  color: white;
}
section#service .wrap ul li:first-child h3 a{
  background-color: #283C75;
  color: white;
}
section#service .wrap ul li ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 3;
  box-sizing: border-box;
  left: 0;
  top: 0;
  grid-column: 1 / span 2;
}
section#service .wrap ul li ul li {
  
  width: calc((100% / 4) - 15px);
}
section#service .wrap ul li ul li a {
  display: block;
  width: 360px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
section#service .wrap ul li ul li a h4 {
  border-bottom: 2px solid black;
  font-size: 1.78125rem;
  line-height: 2;
  font-weight: bold;
}
section#service .wrap ul li ul li a:hover h4{
  border-bottom: 2px solid white;
}
section#service .wrap ul li ul li a p {
  
  font-size: 17px;
}
section#service .wrap ul li ul li a p::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/right.png) no-repeat center /contain;
  vertical-align: -6px;
  padding-left: 30px;
  transition: 1s;
}
section#service .wrap ul li ul li a:hover p::after{
  background: url(../img/rightW.png) no-repeat center /contain;
    animation-name: hoverarrow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes hoverarrow{
  from{
    transform: translateX(5px);
  }
  to{
    transform: translateX(0px);
  }
}